/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        color: #3a3a3a;
    }

/* headings and logo */

h1 {
    font-family: 'Playfair-Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 90px;
    margin-bottom: 40px;
}

#logo-one {
    float: none;
    font-size: 150%;
    margin-top: 40px;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/alchemy-hero-image.png') no-repeat center center;
}

/* animates zoom effect on loading page - havng issues with gitpod/does not match up with code institute and gives errors */

#cover-text {
    font-size: 130%;
    font-family: 'Playfair-Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(29, 3, 41, 0.8);

    bottom: 30px;
    right: 120px;

    position: absolute;
}
/* alchemy about section */

#alchemy-about {
    height: 1200px;
    width: 100%;
}

#alchemy-about section {
    height: 800px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#left-about ul {
    style:none;
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#right-about ul {
    style:none;
}

#center-about {
    width: 30%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    text-align: left;
}

.left-about-heading p {
    text-align: left;
}

.left-about-heading ul {
    text-align: left;
    style: none;
}

.left-about-heading {
    width: 100%;
    float: right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading > ul {
    text-align: right;
}

.right-about-heading > ul {
    style: none;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 230%;
}

#circle-container {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/alchemy-logo-main.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}