/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        color: #3a3a3a;
    }

/* headings and logo */

h1, h2 {
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 80px;
    margin-bottom: 50px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/barista-bw-hero-image-2048x1365.jpg') no-repeat center center;


/*add more hero images, and animation style rules when figured out to have them show 5s each in loop sequence*/

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text {
    font-size: 130%;
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(29, 3, 41, 0.8);

    bottom: 30px;
    right: 120px;

    position: absolute;
}
/* alchemy about section */

#alchemy-about {
    height: 300px;
    flex-direction: row; 
    flex-flow: row;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 30px;
    padding-left: 30px;
    width: 50%;
    float: right;
    align-content: right;
    margin-left: 20px;
}

#center-about {
    width: 30%;
    margin: 0 auto;
    align-content: center;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    text-align: left;
}

.left-about-heading p {
    text-align: left;
}

.left-about-heading ul {
    text-align: left;
    list-style-type: none;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 25px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 25px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading > ul {
    text-align: right;
    list-style-type: none;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
}

#circle-container {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/coffee-alchemy-cup.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* menu */

/* gallery */

#gallery-header {
    float: left;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}
